git+https://github.com/pcrespov/osparc-simcore.git@master#egg=simcore-models-library&subdirectory=packages/models-library
git+https://github.com/pcrespov/osparc-simcore.git@master#egg=simcore-service-integration&subdirectory=packages/service-integration

# formatter
black

# tests
coverage

pytest
pytest-instafail
pytest-sugar
