Jinja2>=2.10.1      # CVE-2019-10906

cookiecutter

# linter
pylint

# testing
pytest
pytest-cookies

# package management
yolk3k              # obtains info about installed packages or available in PyPi
semantic_version    # check compatibility versioning
