urllib3~=1.24.2  # https://nvd.nist.gov/vuln/detail/CVE-2019-11324
jinja2>=2.10.1   # https://nvd.nist.gov/vuln/detail/CVE-2019-8341

cookiecutter

# linter
pylint

# testing
pytest
pytest-cookies

# package management
yolk3k              # obtains info about installed packages or available in PyPi
semantic_version    # check compatibility versioning
